<div>
  <h2>Your Reads</h2>
  {{#each model as |book|}}
    <h3>
      {{#link-to 'book' book}}
      {{book.title}}
      {{!-- <button {{action 'deleteBook' book}}>Delete Book</button>
      {{input value=book.title}}
      <button {{action 'editBook' book}}>Edit Book</button>--}}
      {{/link-to}}
    </h3>
  {{/each}}
</div>
{{#link-to 'books.new'}}<button>Add Book</button>{{/link-to}}

{{outlet}}
