<h3>
  {{model.title}}, {{model.author}}
  </h3>
  <button {{action 'deleteBook' model}}>Delete Book</button>
<br><br>
  <br>
  <p>Update your book below</p>
  <form class=edit {{action 'editBook' model on="submit"}}>
  {{input value=model.title}}
  {{input value=model.author}}
  <button>Edit Book</button>
</form>
